{% extends 'base.html.twig' %}
{% block title property.title%}
{% block body %}
    <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('meduim')}}" alt="card-img-top" style="width: 100%; height: auto">
                    </div>
                    <div class="col-md-4">
                        <h1>{{ property.title }}</h1>
                        <h2>{{ property.room }} pieces, {{ property.surface }} m²</h2>
                        <div class="text-primary" style="font-size:4em;font-weight: bold;"> {{ property.formatPrice }}</div>
                        <a href="#" class="btn btn-primary">Contacter l'agence</a>
                    </div>
                    <p> {{ property.description | nl2br }}</p>
                </div>
            </div>
    </div>
    <div class="container mt-4">
        <div class="row mb-5">
            <div class="col-md-8">
                <h2>Caractisitique </h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface Habitable </td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Pieces </td>
                        <td>{{ property.room }}</td>
                    </tr>
                    <tr>
                        <td>Chambres </td>
                        <td>{{ property.bedroom }}</td>
                    </tr>
                    <tr>
                        <td>Etage </td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <h2>Spécificité</h2>
            <div class="col-md-8"></div>
        </div>

{% endblock %}